
ui_*.h
*.user*
.qmake.stash
.vs/
ModelViewer.sln
ModelViewer.vcxproj
ModelViewer.vcxproj.filters
debug/
release/
/ModelViewer_resource.rc
build/
/ModelViewer.qtvscr
/Makefile
/Makefile.Debug
/Makefile.Release
